.radf-grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-auto-rows: minmax(160px, auto);
  gap: var(--radf-space-4);
}

.radf-grid__item {
  min-width: 0;
}

.radf-grid__item--col-start-1 {
  grid-column-start: 1;
}

.radf-grid__item--col-start-2 {
  grid-column-start: 2;
}

.radf-grid__item--col-start-3 {
  grid-column-start: 3;
}

.radf-grid__item--col-start-4 {
  grid-column-start: 4;
}

.radf-grid__item--col-start-5 {
  grid-column-start: 5;
}

.radf-grid__item--col-start-6 {
  grid-column-start: 6;
}

.radf-grid__item--col-start-7 {
  grid-column-start: 7;
}

.radf-grid__item--col-start-8 {
  grid-column-start: 8;
}

.radf-grid__item--col-start-9 {
  grid-column-start: 9;
}

.radf-grid__item--col-start-10 {
  grid-column-start: 10;
}

.radf-grid__item--col-start-11 {
  grid-column-start: 11;
}

.radf-grid__item--col-start-12 {
  grid-column-start: 12;
}

.radf-grid__item--col-span-1 {
  grid-column-end: span 1;
}

.radf-grid__item--col-span-2 {
  grid-column-end: span 2;
}

.radf-grid__item--col-span-3 {
  grid-column-end: span 3;
}

.radf-grid__item--col-span-4 {
  grid-column-end: span 4;
}

.radf-grid__item--col-span-5 {
  grid-column-end: span 5;
}

.radf-grid__item--col-span-6 {
  grid-column-end: span 6;
}

.radf-grid__item--col-span-7 {
  grid-column-end: span 7;
}

.radf-grid__item--col-span-8 {
  grid-column-end: span 8;
}

.radf-grid__item--col-span-9 {
  grid-column-end: span 9;
}

.radf-grid__item--col-span-10 {
  grid-column-end: span 10;
}

.radf-grid__item--col-span-11 {
  grid-column-end: span 11;
}

.radf-grid__item--col-span-12 {
  grid-column-end: span 12;
}

.radf-grid__item--row-start-1 {
  grid-row-start: 1;
}

.radf-grid__item--row-start-2 {
  grid-row-start: 2;
}

.radf-grid__item--row-start-3 {
  grid-row-start: 3;
}

.radf-grid__item--row-start-4 {
  grid-row-start: 4;
}

.radf-grid__item--row-start-5 {
  grid-row-start: 5;
}

.radf-grid__item--row-start-6 {
  grid-row-start: 6;
}

.radf-grid__item--row-start-7 {
  grid-row-start: 7;
}

.radf-grid__item--row-start-8 {
  grid-row-start: 8;
}

.radf-grid__item--row-start-9 {
  grid-row-start: 9;
}

.radf-grid__item--row-start-10 {
  grid-row-start: 10;
}

.radf-grid__item--row-start-11 {
  grid-row-start: 11;
}

.radf-grid__item--row-start-12 {
  grid-row-start: 12;
}

.radf-grid__item--row-span-1 {
  grid-row-end: span 1;
}

.radf-grid__item--row-span-2 {
  grid-row-end: span 2;
}

.radf-grid__item--row-span-3 {
  grid-row-end: span 3;
}

.radf-grid__item--row-span-4 {
  grid-row-end: span 4;
}

.radf-grid__item--row-span-5 {
  grid-row-end: span 5;
}

.radf-grid__item--row-span-6 {
  grid-row-end: span 6;
}

.radf-grid__item--row-span-7 {
  grid-row-end: span 7;
}

.radf-grid__item--row-span-8 {
  grid-row-end: span 8;
}

.radf-grid__item--row-span-9 {
  grid-row-end: span 9;
}

.radf-grid__item--row-span-10 {
  grid-row-end: span 10;
}

.radf-grid__item--row-span-11 {
  grid-row-end: span 11;
}

.radf-grid__item--row-span-12 {
  grid-row-end: span 12;
}
